@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: #fff;
  color: #4d5974;
  display: flex;
  min-height: 100vh;
}
.container {
  margin: 0 auto;
  padding: 4rem;
  max-width: 96rem;
}
.FAQ .FAQ-header {
  border-bottom: 1px solid #e5e5e5;
}
.FAQ .FAQ-header button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}
.FAQ button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.FAQ button:hover,
.FAQ button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.FAQ button:hover::after,
.FAQ button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.FAQ button .FAQ-title {
  padding: 1em 1.5em 1em 0;
}
.FAQ button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.FAQ button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.FAQ button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.FAQ button[aria-expanded="true"] {
  color: #03b5d2;
}
.FAQ button[aria-expanded="true"] .icon::after {
  width: 0;
}
.FAQ button[aria-expanded="true"] + .FAQ-subheaders {
  opacity: 1;
  min-height: 9em;
  max-height: fit-content;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.FAQ .FAQ-subheaders {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.FAQ .FAQ-subheaders p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.FAQ-subheader {
  padding-left: 25%;
  padding-right: 5%;
}
